{% if site.logo %}
  <img src="{{site.logo | relative_url}}" alt="This is my dog, Selah. She's the mascot for my homebrew!" title="I also like brewing and corgis!">
{% endif %}
<br>
<br>
  <i class="fa fa-map-marker"></i> Atlanta, GA
  <br>
  <i class="fa fa-envelope-square"></i> michael.kopsho@gmail.com
  <br>
  <i class="fa fa-phone-square"></i> (770) 289-2061
  <br>
{% if site.twitter_username %}
  <br>
  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter"></i> Twitter
  </a>
{% endif %}
{% if site.github_username %}
  <br>
  <a href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github"></i> GitHub
  </a>
{% endif %}
{% if site.linkedin_username %}
  <br>
  <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fa fa-linkedin"></i> LinkedIn
  </a>
{% endif %}
